<!DOCTYPE html>
<html>
<head>
    <title>Dollars</title>
    <link href='https://fonts.googleapis.com/css?family=Archivo Black' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            font-family: 'Sofia';
            font-size: 22px;

        }

        main {
            background-image: url("../images/d.jpg");
            background-size: cover;
            background-repeat: no-repeat;

        }

        #enterCode {

            font-family: 'Archivo ';
            font-size: 25px;
        }

        #copy {
            background-color: rgba(0, 0, 0, 0.8);
            color: gainsboro;
            padding: 15px;
            margin: 10px 500px auto;
        }

        #info {
            font-family: 'Archivo ';
            font-size: 25px;
        }


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ">
    <a class="navbar-brand" href="#home">Dollars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  ">
                <a class="nav-link" href="#home ">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Learning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#site">Site Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>


        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<main id="home"><br><br><br><br><br><br><br><br><br><br>
    <div class="container-fluid ">
        <div class="row  justify-content-center ">
            <div class="col-12 col-md-6  p-0 ">

                <form>

                    <div class="form-group ">
                        If You Want To Join Dollars
                        You Should Have The Code To participated

                        <input v-model="ninja" type="password" class="form-control" v-on:keyup.enter="getIndex"
                               id="enterCode" placeholder="Enter The Code" autofocus>

                        <button type="submit" class="btn btn-danger mt-3" @click="getIndex">Send</button>
                    </div>
                </form>


            </div>


        </div>


    </div>
    <div v-if="flag==true" class="row justify-content-center" id="info">

        <div class="col-12 col-md-5 mt-3">
            <div class="row justify-content-center">

                <div class=" card bg-light">

                    <div class="card-body bg-danger">
                        <h5 class="card-title">Your Informaition Is:-</h5>
                        <h5>Your Name : {{choosedNinja.name}}</h5>
                        <h5>Your Age : {{choosedNinja.age}}</h5>
                        <h5>Your Email : {{choosedNinja.email}}</h5>
                        <h5>Your Number : {{choosedNinja.number}}</h5>
                        <h5>Your Language is : {{choosedNinja.pro}}</h5>
                        <h5>Your Number : {{choosedNinja.number}}</h5>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Me
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        you are particpated to dollars
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notMe">
                            not me
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="notMe" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sorry</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        please contact us!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid   ">
        <div class="row justify-content-center">
            <div class="col-12-auto mt-4 align-self-center ">


                <h1 id="noNinja"></h1>
            </div>
        </div>
    </div>


</main>
<br><br><br><br><br><br><br><br><br>

<section id="about">
    <div class="container-fluid">

        <div class="row justify-content-center ">
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card">
                    <img class="card-img-top" src="../images/html.png" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">Html</h1>
                    </div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/css.png" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">Css</h1></div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/jss.png" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">JavaScript</h1></div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/bt.png" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">BootStap</h1></div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/vue.jpg" height="230px" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">Vue.Js</h1></div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/nodee.png" height="230px" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">Node.Js</h1></div>
                </div>
            </div>
            <div class="col-12-auto col-md-4 col-lg-3 m-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../images/mong.png" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-text">MongoDB</h1></div>
                </div>
            </div>

        </div>
    </div>
</section>
<hr>
<article id="site" style="background-color:darkgrey;height: 700px"><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mt-3">
                <div id="map" style="width:90%;height:550px;margin: 0px auto"></div>
            </div>
        </div>
    </div>
</article>
<hr>
<footer id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12-auto mt-3 align-content-center">
                <h1>If You Have Problem !!! Contact Me .</h1>
            </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <i class="fa fa-phone" style="font-size:60px;color:red"></i>
                <h1>+9647715593954</h1>
            </div>
            <div class="col-12 col-lg-6">
                <i class="fa fa-envelope" style="font-size:60px;color:red"></i>
                <h1>suroorsteve96@yahoo.com</h1>
            </div>
        </div>

    </div>
    <br><br><br><br><br>
    <div class="container-fluid   navbar-dark bg-dark">
        <div class="row justify-content-center">
            <div class="col-12-auto mt-4 align-self-center ">


                <h5 style="color: gainsboro">&copy;Copyright 2018-2019 by Suroor E.Salman</h5>
            </div>
        </div>
    </div>

</footer>

<!-- Button trigger modal -->
<!-- Button trigger modal -->


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(33.312805, 44.361488);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 5};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);
    }

    axios.get('http://localhost:3000/api/ninjas').then(function (response) {
        app.ninjas = response.data
    });


    var app = new Vue({
        el: '#home',
        data: {
            ninja: '',
            ninjas: [],
            choosedNinja: {},
            email: '',
            number: 0,
            pro: '',
            name: '',
            flag: false,

        },
        methods: {
            getIndex: function () {
                for (i = 0; i < this.ninjas.length; i++)
                    if (this.ninja == this.ninjas[i].code) {
                        this.choosedNinja = this.ninjas[i]
                        this.email = this.choosedNinja.email
                        this.flag = true
                        this.pro = this.choosedNinja.pro

                        return;

                    } else (this.ninja !== this.ninjas[i].code)
                {
                    document.getElementById('noNinja').innerHTML = "sorry you are not participated in Dollars";
                    return 0;
                }

            },

        }
    })


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGgEJi9Fb8mXYqAgOfQ9YD_HAPPcPoL38&callback=myMap"></script>
</html>
